<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.css"/>
		<style type="text/css">
			.btn-danger {
			    color: #fff;
			    background-color: yellow;
			    border-color: #d43f3a;
			}
		</style>
	</head>
	<body>
		<button class="btn btn-danger">危险按钮</button>
		<button class="btn btn-default">默认按钮</button>
		<button class="btn btn-success">成功按钮</button>
		<button class="btn btn-info">信息按钮</button>
		<button class="btn btn-primary">主题按钮</button>
		<button class="btn btn-warning">警告按钮</button>
		<button class="btn btn-link">链接按钮</button>
		<!--引入jquery-->
		<script type="text/javascript" src="../plugins/jquery/jquery.min.js" ></script>
		<!--引入bootstrap.js-->
		<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.js" ></script>
	</body>
</html>

