<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.css"/>
		<style type="text/css">
			.row div{
				border: 1px solid red;
				height: 80px;
				width: 200px;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			 <!--定义行-->
			 <div class="row">
			 	<div class="col-md-offset-2 col-md-2 col-xs-6">one</div>
			 	<div class="col-md-2 col-xs-6">one</div>
			 	<div class="col-md-2 col-xs-6">one</div>
			 	<div class="col-md-2 col-xs-6">one</div>
			 	<div class="col-md-2 col-xs-6">one</div>
			 	<div class="col-md-2 col-xs-6">one</div>
			 </div>
		</div>
		
		<div class="hidden-xs" style="background-color: yellow;width: 150px;height: 150px;">
			
		</div>
		
		
		<!--引入jquery-->
		<script type="text/javascript" src="../plugins/jquery/jquery.min.js" ></script>
		<!--引入bootstrap.js-->
		<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.js" ></script>
	</body>
	
</html>

